* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: red;
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url(../images/bg.jpg) no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}
.wrap .header {
  height: 1rem;
  width: 100%;
  font-size: 0.4rem;
  color: #fafafa;
}
.wrap .main-box {
  flex: 1;
  width: 100%;
  display: flex;
}
.wrap .main-box .left,
.wrap .main-box .right {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .main-box .left .panel,
.wrap .main-box .right .panel {
  width: 100%;
  flex: 1;
  border: 0.01rem solid red;
}
.wrap .main-box .center {
  flex: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .main-box .center .no {
  height: 1.5rem;
  width: 100%;
}
.wrap .main-box .center .map {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.wrap .main-box .center .map .map1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/map.png) no-repeat center center;
  background-size: 5.18rem 5.18rem;
  opacity: 0.3;
}
.wrap .main-box .center .map .map2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/lbx.png) no-repeat center center;
  background-size: 6.43rem 6.43rem;
  opacity: 0.6;
  animation: rotate1 15s linear infinite;
}
.wrap .main-box .center .map .map3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/jt.png) no-repeat center center;
  background-size: 5.66rem 5.66rem;
  opacity: 0.6;
  animation: rotate2 10s linear infinite;
}
.wrap .main-box .center .map .chart {
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
